<?xml version="1.0"?>

<launch>
  <!-- Launch camera, motor, lidar, and YOLOv5 nodes -->
  <include file="$(find usb_cam)/launch/xycar_cam.launch" />
  <include file="$(find xycar_motor)/launch/xycar_motor.launch" />
  <!-- <include file="$(find ydlidar_ros_driver)/launch/G2.launch" /> -->
  <!-- <include file="$(find yolov5_ros)/launch/yolov5.launch" /> -->

  <!-- AR tag detection -->
  <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
    <param name="marker_size" type="double" value="9.0" />
    <param name="max_new_marker_error" type="double" value="0.05" />
    <param name="max_track_error" type="double" value="0.05" />
    <param name="output_frame" type="string" value="usb_cam" />
    <remap from="camera_image" to="/usb_cam/image_raw" />
    <remap from="camera_info" to="/usb_cam/camera_info" />
  </node>

  <!-- lidar -->
  <node name="ydlidar_node"  pkg="ydlidar_ros"  type="ydlidar_node" output="screen" respawn="false" >
    <param name="port"         type="string" value="/dev/ttyRPL"/>  
    <param name="baudrate"         type="int" value="230400"/>  
    <param name="frame_id"     type="string" value="laser_frame"/>
    <param name="resolution_fixed"    type="bool"   value="true"/>
    <param name="auto_reconnect"    type="bool"   value="true"/>
    <param name="reversion"    type="bool"   value="true"/>
    <param name="angle_min"    type="double" value="-180" />
    <param name="angle_max"    type="double" value="180" />
    <param name="range_min"    type="double" value="0.1" />
    <param name="range_max"    type="double" value="16.0" />
    <param name="ignore_array" type="string" value="" />
    <param name="frequency"    type="double" value="10"/>
    <param name="samp_rate"    type="int"    value="5"/>
  </node>

  <!-- IMU -->
  <node pkg="xycar_imu" type="9dof_imu_node.py" name="xycar_imu" output="screen">
    <param name="rviz_mode" type="string" value="false" />
  </node>

  <!-- Ultrasonic -->
  <!-- <node pkg="xycar_ultrasonic" type="xycar_ultrasonic.py" name="xycar_ultrasonic" output="screen" /> -->

  <!-- RViz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find auturbo_rookie_controller)/rviz/config_file.rviz" />

  <!-- main script -->
  <node name="auturbo-rookie" pkg="auturbo_rookie_controller" type="main.py" output="screen"/>

</launch>
