<?xml version="1.0"?>
<launch>
	<param name="robot_description" textfile ="$(find xycar_simul)/urdf/xycar.urdf" />
	<param name="use_gui" value="true"/>
	<!-- rviz display -->
	<node name="rviz_visualizer" pkg="rviz" type="rviz" required="true" 
                                             args="-d $(find xycar_simul)/rviz/xycar.rviz"/>
	<!--<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>-->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
        <node name="my_driver" pkg="xycar_simul" type="my_driver.py" output="screen"/>
        <node name="converter" pkg="xycar_simul" type="converter" />
        <node name="odom" pkg="xycar_simul" type="odom" />

</launch>
